*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sand', 'sands-serif' ;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
}

header{
    background-color: blue;
}

/*Serviços*/

#quem-somos img{
    min-height: 420px;
}

.container-externo{
    background-color: blue;
    width: 100%;

}

#servicos{
    flex-direction: column;
    padding-top: 50px ;
    padding-bottom: 100px;
}

#servicos h2{
    color:#fff ;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;

}


.list-servicos{
    display: flex;
    justify-content: space-around;
}

.list-servicos .item-servicos{
    text-align: center;

}

 .item-servicos a{
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    color: blue;
    font-size: 14px;
    text-decoration: none;


}


.item-servicos p{
    font-weight: 700;
    font-size: 20px;

}

